body {
    font-size: 18px;
    height: 100%;
    background-color:#f6f6f6;
}

.container {
    height: 100%;
    background: white;
    min-width: 420px;
}

.main {
    margin-top: 70px;
}

/***********************************
 * NAV
 ***********************************/

.navbar-default {
    border-bottom: none;
}

.navbar-default .navbar-brand {
    text-transform: uppercase;
    color: #BBB;
}

.navbar > .container {
    padding-top: 20px;
    border-bottom: #EAEF45 solid 10px;
}

.nav > li > a {
    padding-bottom: 12px;
    background-color: white !important;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li > a {
    color: #333;
}
.nav-tabs > li > a:hover {
    text-decoration: underline;
    background-color: #EAEF45 !important;
}

.nav-tabs > .active > a {
    background-color: #EAEF45 !important;
    
}

.ident-logo {
    margin-top: 5px;
    margin-right: 10px;
    
}

/***********************************
 * HOME PAGE
 ***********************************/
.block {
    background-color: white;
    border-radius: 10px;
    min-height: 260px;
    padding: 10px;
    //border: #9CAD27 solid 1px;
    margin: 40px 5px 30px 5px;
}

.block > h1, .block > p {
    line-height: 1;
    margin: 0;
}

/***********************************
 * POSTS
 ***********************************/

.post-title {
    padding: 3px 10px;
    background-color: #EAEF45;
    margin: 0 30px 30px 30px;
    position: relative;
}

.post-title:before {
    right: 100%;
}

.post-title:after {
    left: 100%;
}

.post-title:after, .post-title:before {
    background: none repeat scroll 0 0 #EAEF45;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    width: 45px;
}

.post {
    margin: 40px;
}

.meta {
    margin-top: 20px;
    font-size: 0.8em;
    font-style: italic;
    color: #AAA;
}

/***********************************
 * REGISTRATION FORM
 ***********************************/

#crmWebToEntityForm label {
    display:inline;
    font-weight:normal;
}

@media (max-width: 470px) { 
    body {
        font-size: 14px;
    }
}

@media (max-width: 992px) { 
    .navbar-collapse.collapse > a {
        font-size: 14px;
        //display: none !important;
    }
}
