body {
  font-size: 18px;
  height: 100%;
  background-color:#f6f6f6;
}

.container {
    height: 100%;
    background: white;
}

.navbar {
    font-size: .8em;
    min-width: 420px;
}

.navbar-default {
    border-bottom: none;
}

.navbar > .container {
    padding-top: 20px;
    border-bottom: #EAEF45 solid 10px;
}

.navbar-nav {
    height: 60px;
}

.navbar-nav a {
    margin: 0 5px;
}

.navbar-nav a:hover {
    border-radius: 10px;
    background-color: #EAEF45 !important;
}

.active > a {
    border-radius: 10px;
    background-color: #EAEF45 !important;
    
}

.main {
    margin-top: 70px;
}

.ident-logo {
    margin-top:10px;
    margin-right:10px;
    
}

#crmWebToEntityForm label {
    display:inline;
    font-weight:normal;
}

/***********************************
 * HOME PAGE
 ***********************************/
.block {
    background-color: white;
    border-radius: 10px;
    min-height: 160px;
    padding: 10px;
    vertical-align: bottom;
    border: #9CAD27 solid 1px;
    margin: 40px 5px 30px 5px;
}

.block > h1, .block > p {
    line-height: 1;
    margin: 0;
}

/***********************************
 * POSTS
 ***********************************/

.post-title {
    padding: 3px 10px;
    background-color: #EAEF45;
    margin: 0 30px 30px 30px;
    position: relative;
}

.post-title:before {
    right: 100%;
}

.post-title:after {
    left: 100%;
}

.post-title:after, .post-title:before {
    background: none repeat scroll 0 0 #EAEF45;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    width: 45px;
}

.post {
    margin: 40px;
}

.meta {
    margin-top: 20px;
    font-size: 0.8em;
    font-style: italic;
    color: #AAA;
}
