---
layout: base
---
<div class="post-title">
    <div class="row">
        <div class="col-xs-4 iconic-block">
            <a href="/pages/work">
                <div class="panel block panel-default">
                    <div class="panel-body iconic">
                        <img class="center-block" src="/assets/design/building.png"/>
                    </div>
                    <div class="panel-body iconic-button">
                    <button class="btn btn-primary btn-lg" role="button">Current work</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 iconic-block">
            <a href="/pages/community">
                <div class="panel block panel-default">
                    <div class="panel-body iconic">
                        <img class="center-block" src="/assets/design/community.png"/>
                    </div>
                    <div class="panel-body iconic-button">
                        <button class="btn btn-primary btn-lg" role="button">Join us</button>
                    </div>
                 </div>
             </a>
        </div>
        <div class="col-xs-4 iconic-block">
            <a href="/pages/notes/workshops/2014-01-Montreal/">
                <div class="panel block">
                    <div class="panel-body iconic iconic-text">
                        <p>Our first workshop on Open Contracting was held in conjunction with the IATI TAG meeting in Montreal, CA.
                        We discussed use cases, ...</p>
                    </div>
                    <div class="panel-body iconic-button">
                        <button class="btn btn-primary btn-lg" role="button">Read latest</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="post">
{{ content }}
</div>
